.ItemDetails{
  .ImageItemDetails{
    padding: 20px;
    p{
      margin-bottom: 60px;
    }
    img{
      border-radius: 5px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  .AudioItemDetails{
    padding: 20px;
    p{
      margin-bottom: 60px;
    }
    img{
      border-radius: 5px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
  .mediaPlayer{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}